apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  namespace: rag
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
      - name: producer
        image: siddheshthapa/rag-producer:latest
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "300m"
            memory: "512Mi"

#---
#apiVersion: autoscaling/v2
#kind: HorizontalPodAutoscaler
#metadata:
#  name: producer-hpa
#  namespace: rag
#spec:
#  scaleTargetRef:
#    apiVersion: apps/v1
#    kind: Deployment
#    name: producer
#  minReplicas: 1
#  maxReplicas: 3
#  metrics:
#    - type: Resource
#      resource:
#        name: cpu
#        target:
#          type: Utilization
#          averageUtilization: 60

---
apiVersion: v1
kind: Service
metadata:
  name: producer
  namespace: rag
spec:
  type: ClusterIP
  selector:
    app: producer
  ports:
    - port: 8080
      targetPort: 8080

