apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: rag
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:1.47
        ports:
        - containerPort: 16686
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: rag
spec:
  selector:
    app: jaeger
  ports:
  - port: 16686
